.container {
  max-width: 700px;
}

.main {
  margin-top: 2em;
}

.form-signin {
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin button {
  margin-top: 20px;
}

.whisky-tag {
  margin: 0 .25em;
}

.whisky-list {
  margin-bottom: 3em;
}

.logout {
  color: #0275d8;
}

.logout:hover {
  cursor: pointer;
  text-decoration: underline;
}
