.container {
  max-width: 700px;
}

.main {
  margin-top: 2em;
}

.form-signin {
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin button {
  margin-top: 20px;
}

.whisky-list-container {
  margin-bottom: 2em;
}

.add-whisky {
  color: #0275d8;
  text-shadow: 2px 2px #ccc;
}

.add-whisky:hover {
  cursor: pointer;
}

.whisky-tag {
  margin: 0 .25em;
}

.whisky-list {
  margin-bottom: 3em;
}

.whisky-item:hover {
  background-color: #0275d8;
  border: 1px solid #0275d8;
  color: #fff;
  cursor: pointer;
}

.logout {
  color: #0275d8;
}

.logout:hover {
  cursor: pointer;
  text-decoration: underline;
}
