<div class="container">
    <form class="form-signin" ng-submit="login()">
        <h2 class="form-signin-heading">Please log in to My Whisky App</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input ng-model="username" type="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
