<div class="container">
    <form class="form-signin" ng-submit="signup()">
        <h2 class="form-signin-heading">Please sign up for My Whisky App</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input ng-model="username" type="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
    <p class="text-xs-center">Go to <a href="#login">Log in</a></p>
</div>
